<h1 mat-dialog-title>Patient details</h1>
<mat-dialog-content>
    <form [formGroup]="patientForm">
        <mat-form-field class="full-width" appearance="fill">
            <mat-label>ID</mat-label>
            <input matInput class="form-control" formControlName="id" type="text">
           
        </mat-form-field>

        <mat-form-field class="full-width" appearance="fill">
            <mat-label>First name</mat-label>
            <input matInput class="form-control" formControlName="firstName" type="text">
           
        </mat-form-field>

        <mat-form-field class="full-width" appearance="fill">
            <mat-label>Last name</mat-label>
            <input matInput class="form-control" formControlName="lastName" type="text">
            
        </mat-form-field>

        <mat-form-field class="full-width" appearance="fill" (click)="picker.open()">
            <mat-label>Registration date</mat-label>
            <input formControlName="registeredDate" mat-input matInput (focus)="picker.open()"
                [matDatepicker]="picker">
            <mat-datepicker-toggle matSuffix [for]="picker">
                <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
            </mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
           
        </mat-form-field>

        <mat-form-field class="full-width" appearance="fill">
            <mat-label>VAT Code</mat-label>
            <input matInput class="form-control" formControlName="vatCode" type="text">
           
        </mat-form-field>

        <mat-form-field class="full-width" appearance="fill">
            <mat-label>Email</mat-label>
            <input matInput class="form-control" formControlName="email" type="text">
           
        </mat-form-field>

        <mat-form-field class="full-width " appearance="fill">
            <mat-label>Doctor</mat-label>
            <input matInput type="text" matInput  formControlName="doctor">
        </mat-form-field>

        <form [formGroup]="homeAddressForm">
            <mat-label>Home address:</mat-label>
            <mat-form-field class="full-width" appearance="fill">
                <mat-label>Phone:</mat-label>
                <input matInput class="form-control" formControlName="phone"
                    type="text">
                
            </mat-form-field>

            <mat-form-field class="full-width" appearance="fill">
                <mat-label>Street:</mat-label>
                <input matInput class="form-control" formControlName="street" type="text">
                
            </mat-form-field>

            <mat-form-field class="full-width" appearance="fill">
                <mat-label>City:</mat-label>
                <input matInput class="form-control" formControlName="city" type="text">
                
            </mat-form-field>

            <mat-form-field class="full-width" appearance="fill">
                <mat-label>Zip code:</mat-label>
                <input matInput class="form-control" formControlName="zip" type="text">
                
            </mat-form-field>

            <mat-form-field class="full-width" appearance="fill">
                <mat-label>Country:</mat-label>
                <input matInput class="form-control" formControlName="country" type="text">
               
            </mat-form-field>
            <br>

            <div *ngIf="this.otherAddresses.length === 0">
                <h4>No other addresses for selected patient.</h4>
            </div>

            <div *ngIf="this.otherAddresses.length > 0">
                <h4>Other patient addresses</h4>
            <table mat-table [dataSource]="otherAddresses" class="mat-elevation-z2">
                <ng-container matColumnDef="type">
                  <th mat-header-cell *matHeaderCellDef> Type </th>
                  <td mat-cell *matCellDef="let element"> {{element.type}} </td>
                </ng-container>
              
                <ng-container matColumnDef="street">
                  <th mat-header-cell *matHeaderCellDef> Street </th>
                  <td mat-cell *matCellDef="let element"> {{element.street}} </td>
                </ng-container>

                <ng-container matColumnDef="city">
                    <th mat-header-cell *matHeaderCellDef> City </th>
                    <td mat-cell *matCellDef="let element"> {{element.city}} </td>
                  </ng-container>
              
                <ng-container matColumnDef="zip">
                  <th mat-header-cell *matHeaderCellDef> Zip </th>
                  <td mat-cell *matCellDef="let element"> {{element.zip}} </td>
                </ng-container>
              
                <ng-container matColumnDef="country">
                  <th mat-header-cell *matHeaderCellDef> Country </th>
                  <td mat-cell *matCellDef="let element"> {{element.country}} </td>
                </ng-container>
              
                <tr mat-header-row *matHeaderRowDef="columns"></tr>
                <tr mat-row *matRowDef="let row; columns: columns;"></tr>
              </table>
            </div>


            

        </form>
    </form>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button (click)="closeDialog()">Close</button>
</mat-dialog-actions>