<mat-nav-list>
    <a routerLinkActive="active" mat-list-item routerLink="home" (click)="onSidenavClose()">
        <mat-icon>home</mat-icon> <span class="nav-caption">Home</span>
    </a>
    <a routerLinkActive="active" mat-list-item routerLink="new-patient" (click)="onSidenavClose()">
        <mat-icon>assignment_ind</mat-icon> <span class="nav-caption">Add new patitent</span>
    </a>
    <a routerLinkActive="active" mat-list-item routerLink="list-patient" (click)="onSidenavClose()">
        <mat-icon>format_list_numbered</mat-icon><span class="nav-caption">List patients</span>
    </a>
</mat-nav-list>